.slider {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 95%;
  margin: 0 auto;
}

.slider-row {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.slider-item {
  flex: 0 0 calc(25% - 20px);
  margin: 5px;
  text-decoration: none;
  color: black;
}

.img-slider-img {
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 80px;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #B82B35;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}

.img-slider-text {
  text-align: center;
}

.img-slider-btn {
  all: unset;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #B82B35;
}