.search-bar-container {
  padding-top: 5vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
}

.slider-container {
  padding-top: 20px;
  width: 100%;
  margin: auto;
}
