body {
    background-image: url('../img/background_img.png');
}

.text-container {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.oval-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oval-row {
    display: flex;
}

.oval {
    width: 80px;
    height: 40px;
    border-radius: 50%;
    background-color: #EDEDED;
    border: 2px solid #B82B35;
    color: #B82B35;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(61, 38, 38, 0.2);
}

.oval:hover {
    background-color: #B82B35;
    border: 2px solid #EDEDED;
    color: #EDEDED;
}

.backButton {
    background-color: #EDEDED;
    border: 2px solid #B82B35;
    color: #B82B35;
    padding: 5px 10px;
    font-size: 11px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.backButton:hover {
    background-color: #B82B35;
    border: 2px solid #EDEDED;
    color: #EDEDED;
}

.volunteerButton {
    background-color: #EDEDED;
    border: 2px solid #B82B35;
    color: #B82B35;
    padding: 5px 10px;
    font-size: 11px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.volunteerButton:hover {
    background-color: #B82B35;
    border: 2px solid #EDEDED;
    color: #EDEDED;
}

.paginationContainer {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 11px;
    text-align: center;
}

.paginationButton {
    background-color: white;
    color: #B82B35;
    font-size: 25px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.squaresContainer {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(2, 80px);
    grid-gap: 10px;
}

.square,
.description {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.square {
    background-color: lightblue;
    border-radius: 5px;
    cursor: pointer;
}

.description {
    background-color: lightgreen;
    border-radius: 5px;
    cursor: pointer;
}

.infoButton {
    background-image: url('../img/yyc_airport.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: 2px solid #B82B35;
    color: #B82B35;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    height: 200px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.infoButton:hover {
    background-color: #B82B35;
    color: white;
}

.accessModeButton {
    background-image: url('../img/disabled_mode.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: 2px solid #B82B35;
    color: #B82B35;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    height: 120px;
    width: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.infoButton2 {
    background-image: url('../img/yyc_head.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: 2px solid #B82B35;
    color: #B82B35;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    height: 200px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.infoButton2:hover {
    background-color: #B82B35;
    color: white;
}

.infoButton3 {
    background-image: url('../img/access_logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: 2px solid #B82B35;
    color: #B82B35;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    height: 200px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.directionsButton {
    background-color: #EDEDED;
    border: 2px solid #B82B35;
    color: #B82B35;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.directionsButton:hover {
    background-color: #B82B35;
    border: 2px solid #EDEDED;
    color: #EDEDED;
}

.mapButtons {
    color: #B82B35;
    background-color: transparent;
    border: none;
    margin-top: 40px;
    margin-left: 58px;
}

.qrImg {
    background-image: url('../img/qr_code.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    margin-top: 15px;
    width: 100px;
    height: 100px;
}

.bounce-wave {
    animation: bounceWave 3s infinite;
}

@keyframes bounceWave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.mapContainer {
    background-image: url('../img/indoor_map.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin-left: 22px;
    margin-top: 40px;
    margin-bottom: 0;
    width: 90%;
    height: 200px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.mapContainer2 {
    background-color: white;
    margin-left: 22px;
    margin-top: 40px;
    margin-bottom: 0;
    width: 90%;
    height: 200px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.destinationInfo {
    background-color: white;
    margin-bottom: 0;
    width: 120px;
    height: 100%;
    border-radius: 5px;
}

.destinationImg {
    background-image: url('../img/restaurantImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    margin: 0;
    width: 100%;
    height: 80px;
}

.outsideMap {
    background-image: url('../img/calgary_map.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    margin: 0;
    width: 70%;
    height: 100%;
}

.standardModeButton {
    background-color: #EDEDED;
    border: 2px solid #B82B35;
    color: #B82B35;
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: bold;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    height: 120px;
    width: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.keyboard {
    width: 100vw;
    left: 0;
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mappedin-map-inpage {
    max-width: 200px;
}